:root {
  --background: #ffffff;
  --foreground: #171717;

  --theme-color: #E8816E;

  --theme-yellow: #fff200;
  --theme-red: #e03;



  --theme-gradient-1: #C95D5D;
  --theme-gradient-2: #E8816E;
  --theme-gradient-3: #F4A66E;
  --theme-gradient-4: #F7C580;
  
  /* --theme-color-2: #E8816E; */
  --navy: #0E3044;
  --navy-light: #10354C;
  --navy-light-200: #003356;

  --text-light-100: #CEDCDD;
  --text-light-200: #A8BBC4;
  --text-light-300: #474747;
  --text-dark: #222222;
  --text-white: #ffffff;

  --white: #ffffff;
  --border-light: #DADADA;
  --border-light-200: #40535B;

  --border-dark: #222933;

  --bg-dark: #222933;
  --bg-light: #ffffff;
  --bg-light-200: #F9F9F9;


  --width: 100dvw;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* color: var(--background);
  background: var(--foreground); */
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  min-height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme-gradient-1{
  background: var(--theme-gradient-1);
}

.theme-gradient-2{
  background: var(--theme-gradient-2);
}

.theme-gradient-3{
  background: var(--theme-gradient-3);
} 

.theme-gradient-4{
  background: var(--theme-gradient-4);
} 


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}



.p-x-1-m{
  padding: 0 1rem
}
.p-x-2-m{
  padding: 0 2rem
}
.p-x-3-m{
  padding: 0 3rem
}
.p-x-4-m{
  padding: 0 4rem
}

ul{
  list-style: none;
}

.bg-cta{
  background-color: #db6e43;
}

.bg-cta-hover{
  background-color: #db6e43;
  transition: background-color 0.3s ease;
}

.bg-cta-hover:hover{
  background-color: #003356;
}

.bg-cta-hover-with-border{
  background-color: #db6e43;
  transition: background-color 0.3s ease;
}

.bg-cta-hover-with-border:hover{
  background-color: #003356;
  border: 1px solid #db6e43;
  color: #db6e43;
}

.theme-color {
  color: var(--theme-color);
}

.theme-bg {
  background-color: var(--theme-color);
}


.bg-dark {
  background-color: var(--bg-dark);
}

.bg-light {
  background-color: var(--bg-light);
}

.bg-light-200 {
  background-color: var(--bg-light-200);
}

.bg-navy {
  background-color: var(--navy);
} 

.bg-navy-light {
  background-color: var(--navy-light);
} 

.bg-theme-color {
  background-color: var(--theme-color);
}

.navy-light-200 {
  color: var(--navy-light-200);
}  

.text-light {
  color: var(--text-white);
}

.text-light-100 {
  color: var(--text-light-100);
} 

.text-light-200 {
  color: var(--text-light-200);
}  
.text-light-300 {
  color: var(--text-light-300);
}  

.text-dark {
  color: var(--text-dark);
} 

.border-light {
  border: 1px solid var(--border-dark);
}  

.border-light-200 {
  border: 1px solid var(--border-light-200);
}

.border-dark {
  border-color: var(--border-dark);
}



.gap-1{
  gap: 1rem;
}

.gap-2{
  gap: 2rem;
}

.gap-3{
  gap: 3rem;
}




.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.width {
  width: var(--width);
}

.width-full {
  width: 100dvw;
}

.width-100 {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.bold-heavy {
  font-weight: 800;
}

.bold-light {
  font-weight: 600;
}

.bold-light-200 {
  font-weight: 500;
}

.text-s{
  font-size: .9rem;
}

.text-xs{
  font-size: .8rem;
}

.text-xxs{
  font-size: .7rem;
}

.text-xxxs{
  font-size: .5rem;
}

.text-m{
  font-size: 1.2rem;
}

.text-l{
  font-size: 2rem;
}

.text-xl{
  font-size: 3.5rem;
}



.lh-1 {
  line-height: 1;
}

.lh-2 {
  line-height: 1.2rem;
}





.flex-mobile {
  display: flex;
}

.flex-col-mobile {
  flex-direction: column;
}

.flex-row-mobile {
  flex-direction: row;
}

.flex-center-mobile {
  justify-content: center;
  align-items: center;
}

.flex-between-mobile {
  justify-content: space-between;
  align-items: center;
}

.flex-start-mobile {
  justify-content: flex-start;
  align-items: flex-start;
}
.flex-justify-center-mobile{
  justify-content: center;
}

.flex-align-center-mobile{
  align-items: center;
}

.flex-align-end-mobile{
  justify-content: center;
  align-items: flex-end;
}

.flex-justify-end-mobile {
  justify-content: flex-end;
  align-items: center;
}
.flex-space-between-mobile {
  justify-content: space-between;
  align-items: center;
}

.flex-end-mobile {
  justify-content: flex-end;
  align-items: flex-end;
}


.socials-icon{
  font-size: 1rem;
  padding: .5rem;
  border-radius: 50px;
  height: 2rem;
  width: 2rem;
  transition: background-color 0.3s ease;
}
.socials-icon:hover{
  background-color: var(--theme-color);
}

.highlighted{
  background-color: var(--theme-color) !important;
  color: white !important;
}


.contentLinkscardDate{
  text-transform: uppercase;
  font-size: .7rem;
  font-weight: 500;
  display: flex;
  gap: .5rem;
  padding: .5rem 0;
  color: var(--text-light-300);
}

.contentLinkscardCategory{
  text-decoration: none;
  /* color: var(--theme-color); */
  transition: all .5s ease;

}

.contentLinkscardCategory:hover{
  color: var(--theme-color);
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (min-width: 768px) {
  
}
@media (min-width: 1150px) {
  :root {  
    --width: 72rem;
  }

  .width {
    width: var(--width);
  }

  .p-x-1-m{
    padding: 0 0
  }
  .p-x-2-m{
    padding: 0 0
  }
  .p-x-3-m{
    padding: 0 0
  }
  .p-x-4-m{
    padding: 0 0
  }

  
  .p-x-1{
    padding: 0 1rem
  }
  .p-x-2{
    padding: 0 2rem
  }
  .p-x-3{
    padding: 0 3rem
  }
  .p-x-4{
    padding: 0 4rem
  }


  .flex{
    display: flex;
  }

  .flex-col {
    flex-direction: column;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .flex-center {
    justify-content: center;
    align-items: center;
  }
  
  .flex-between {
    justify-content: space-between;
    align-items: center;
  }
  
  .flex-start {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .flex-justify-center{
    justify-content: center;
  }
  
  .flex-align-center{
    align-items: center;
  }
  
  .flex-align-end{
    justify-content: center;
    align-items: flex-end;
  }
  
  .flex-justify-end {
    justify-content: flex-end;
    align-items: center;
  }
  .flex-space-between {
    justify-content: space-between;
    align-items: center;
  }
  
  .flex-end {
    justify-content: flex-end;
    align-items: flex-end;
  }
}

@media (min-width: 1152px) {
  
}





